.footer {
    background-color: #002E4D; /* Dark Background */
    color: #fff; /* White Text */
    padding: 30px 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .footer-about,
  .footer-links,
  .footer-social {
    flex: 1;
    min-width: 250px;
    margin: 10px;
  }
  
  .footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #e8e7e3; /* Bright Yellow for Headings */
  }
  
  .footer p {
    font-size: 14px;
    color: #ddd; /* Light Gray Text */
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin: 5px 0;
  }
  
  .footer-links a {
    color: #cbcdd2; /* Bright Yellow */
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    color: #fff; /* White on Hover */
  }
  
  .social-icons img {
    width: 40px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  
  .partners img {
    width: 100px;
    margin: 5px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
    color: #ccc;
  }
  